<h4 class="subheader">Guezz - Knockout Phase Champions League 2013-2014  (ADMIN MODE)</h4>

<p class="subheader">
  <a href="#" data-reveal-id="GameRulesModal">Game Rules</a>
  |
  <a href="#">Admin Login</a>
</p>

<hr>

<%= link_to "Go Back to Ranking", users_index_path %>

<h4 class="subheader padding_top_20">Match Id Predictions by User Name</h4>

<table class="large-block-grid-3 padding_bottom_80">
  <thead>
    <tr class="row.full_width">
      <th width="500">Question</th>
      <th width="200">User Answer</th>
      <th width="200">Actual Result</th>
      <th width="150">Points Won</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for [@user, @match, @prediction, @answer] do |form| %>
    <tr class="row.full_width">
      <td><%= form.text_field :user_answer %></td>
      <td><%= form.text_field :actual_result %></td>
      <td><%= form.text_field :question_points %></td>
    </tr>
  
  </tbody>  
</table>
    
<div class="centered_padding_bottom_40">
    <%= form.submit value="Update Data"%>
    <% end %>
</div>

<table class="large-block-grid-3 user-info padding_top_40">
  <thead>
    <tr class>
      <th width="150">
        <h4>
          Match Score
        </h4>  
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="row.full_width">
      <td>
        <h4>
        2000 
        </h4>  
      </td>
    </tr>
  </tbody>  
</table>



