<h4 class="subheader">Guezz - Knockout Phase Champions League 2013-2014</h4>

<p class="subheader">
  <a href="#" data-reveal-id="GameRulesModal">Game Rules</a>
</p>

<hr>

<ul class="subheader large-block-grid-7">
  <% @actual_result.each do |match| %>
    <li>
      <a href="#"><%= match.name %></a> 
    </li>
  <% end %>
</ul>

<h4 class="subheader padding_top_20">1st Leg 1/8th Ranking</h4>

<table class="large-block-grid-3">
  <thead>
    <tr class="row.full_width">
      <th width="950">Player</th>
      <th width="100">Score</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |user|%>
      <tr class="row.full_width">
        <td>
            <%= user.name %> <% if admin_signed_in? %> | <%= link_to "Edit User", edit_user_path(user) %> 
            <p>
              <% Match.all.each do |match| %>
              <%= link_to "Predictions for #{match.name}", new_user_match_prediction_path(user, match) %>
              <% end %>
            </p>
          <% end %>
        </td>
        <td>
          <%= user.score %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

<!-- Need to be updated. Now just a copy of the above table. -->

<h4 class="subheader padding_top_20">Overall Ranking</h4>

<table class="large-block-grid-3">
  <thead>
    <tr class="row.full_width">
      <th width="950">Player</th>
      <th width="100">Score</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |n|%>
      <tr class="row.full_width">
        <td>
          <%= n.name %>
        </td>
        <td>
          <%= n.score %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

<!-- End of the placeholder table. -->

