<div class="centered">
  <div class="row">
    <div class="large-12 columns">
      <h1>Guezz</h1>    
    </div>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <div class="centered_padding_bottom_40">
      <h2 class="subheader">The game about predictions where you win when you beat your friends</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <div class="centered_padding_bottom_40">
      <h5 class="subheader">
        <a href="#" data-reveal-id="GameRulesModal">Game Rules</a>
        |
        <a href="#">Ranking</a>
      </h5>
    </div>
  </div>
</div>

<!-- Adding the form here -->

<div class="row">
  <div class ="small-6 small-centered columns padding_bottom_40">
    <%= form_for([@club, @user]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Write your name here" %>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Write your email here" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<!-- End of the form -->

<!-- Footer -->

<div class="centered_padding_bottom_40">
  <p>*To join the game, you must choose your team and register before <b>Tuesday the 15th of January 2014.</b><p>
</div>
   
<div class="centered_padding_bottom_40">
  <p>© The Guezz<p>
</div>
